* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../_imagens/japao.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    color: #F08080;
    text-shadow: 3px 3px 3px #000;
    font-weight: bold;
}

table,
th,
td {
    border: 3px solid #ffffe0;

}

td {
    background-color: #D3D3D3;
}

th {
    background-color: #800000;
}

table {
    width: 100%;
}

tr {
    height: 50px;
}

img {
    width: 250px;
    height: 140px;
}

hr {
    border: 5px solid #F08080;
}

form,
div,
input {
    border: 3px solid #ffffe0;
    background-color: #D3D3D3;
}

form,
input {
    align-items: center;
    width: 100%;
}

input {
    border: none;
    text-align: left;
}

#botao {
    color: darkred;
    text-align: right;
    text-shadow: 1px 2px 3px black;
    font-size: 12px;
}

#botaTudo {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

input {
    width: 91%;
    margin: 0 auto;
    outline: none;
}

.math {
    text-align: left;
    height: 25%;
}

h2 {
    color: whitesmoke;
    font-family: cursive;
}